<div class="col-sm-3">
    <div class="card m-1">
        <img class="card-img-top" src="<%= prod.image%>" alt="Card image cap" style="height:200px" />
        <div class="card-body text-center">
            <h5 class="card-title">
                <%= prod.title %>
            </h5>
            <p class="card-text text-truncate">
                <%= prod.description %>
            </p>
            <p class="card-text">
                Price <%= prod.price %>
            </p>
            <p class="card-text">
                Rating <%= prod.rating.rate %>
            </p>
            <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
</div>